/*
File: Ajax Preloader image style sheet
Date: 6/5/2014
Production: RAPPS Prodcution
Developer: Rahul Negi
Use: Preload image loading before content
Product Name: Ajax Preloader Image CSS3
*/
*
{
	margin:0;
	padding:0;
}

body
{
	margin:0;
	padding:0;
	background:#f9f9f9;
	color:#333;
	font-family:arial;
}
a
{
	color:#3b5998;
	text-decoration:none;
}

#header
{
display: block;
text-align: center;
padding: 10px 0;
background: #7FF0CC;
border-bottom: 2px solid #27BBB5;
text-shadow: 2px 2px 0 #ECECEC;
}

#preloader
{
width: 65px;
height: 68px;
text-align: center;
margin: 0 auto;
color: #fff;
line-height: 68px;
padding: 20px 22px;
border: 8px solid #fff;
border-right-color: transparent;
border-radius: 50%;
box-shadow: 1px 0 1px #fff;
text-shadow: -2px 1px 1px #000;
-webkit-animation: loader 5s ease-in-out infinite;
	-moz-animation: loader 5s ease-in-out infinite;
	-ms-animation: loader 5s ease-in-out infinite;
	-o-animation: loader 5s ease-in-out infinite;
	animation: loader 5s ease-in-out infinite;
}
@-webkit-keyframes loader
{
	from { -webkit-transform: rotate(0deg); background: #149979; opacity: 0.8; }
	50%  { -webkit-transform: rotate(180deg);background: #f07777; opacity: 0.9; }
	to   { -webkit-transform: rotate(360deg); background: #149979; opacity: 1; }
}

@-moz-keyframes loader
{
	from { -webkit-transform: rotate(0deg); background: #149979; opacity: 0.8; }
	50%  { -webkit-transform: rotate(180deg);background: #f07777; opacity: 0.9; }
	to   { -webkit-transform: rotate(360deg); background: #149979; opacity: 1; }
}

@-ms-keyframes loader
{
		from { -webkit-transform: rotate(0deg); background: #149979; opacity: 0.8; }
	50%  { -webkit-transform: rotate(180deg);background: #f07777; opacity: 0.9; }
	to   { -webkit-transform: rotate(360deg); background: #149979; opacity: 1; }
}

@-o-keyframes loader
{
		from { -webkit-transform: rotate(0deg); background: #149979; opacity: 0.8; }
	50%  { -webkit-transform: rotate(180deg);background: #f07777; opacity: 0.9; }
	to   { -webkit-transform: rotate(360deg); background: #149979; opacity: 1; }
}

@keyframes loader
{
		from { -webkit-transform: rotate(0deg); background: #149979; opacity: 0.8; }
	50%  { -webkit-transform: rotate(180deg);background: #f07777; opacity: 0.9; }
	to   { -webkit-transform: rotate(360deg); background: #149979; opacity: 1; }
}

#outload
{
display: block;
width: 125px;
margin: 10% auto;
background: #149979;
padding: 15px;
border-radius: 50%;
box-shadow: -1px 1px 13px #000;
}

#outloadLine
{
display: block;
width: 250px;
text-align: center;
margin: 20px auto;
padding: 5px;
border: 1px solid #217EAA;
color: #fff;
text-shadow: -1px 1px 0 #1C7C9B;
box-shadow: inset 0 0 15px #217eaa;
border-radius: 3px;
background-image: -webkit-linear-gradient(left, #ffffff, #51b4e3);
background-image: -moz-linear-gradient(left, #ffffff, #51b4e3);
background-image: -ms-linear-gradient(left, #ffffff, #51b4e3);
background-image: -o-linear-gradient(left, #ffffff, #51b4e3);
background-image: linear-gradient(to right, #ffffff, #51b4e3);
}
#preloaderLine
{
display: block;
width: 1%;
background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
background-color: #f0a3a3;
border:1px solid #f42323;
font-size: 0;
height: 17px;

-webkit-animation: loader2 15s ease-in-out infinite;
	-moz-animation: loader2 15s ease-in-out infinite;
	-ms-animation: loader2 15s ease-in-out infinite;
	-o-animation: loader2 15s ease-in-out infinite;
	animation: loader2 15s ease-in-out infinite;
	overflow:hidden;
}

#preloaderLine:after
{
content: "";
position: absolute;
background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
z-index: 1;
-webkit-background-size: 50px 50px;
-moz-background-size: 50px 50px;
background-size: 50px 50px;
-webkit-animation: move 2s linear infinite;
-moz-animation: move 2s linear infinite;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
overflow: hidden;
}
@-webkit-keyframes loader2
{
	from { width:5%; opacity: 0.8; }
	25%  { width:20%; opacity: 0.9; }
	50%  { width:50%; opacity: 0.9; }
	75%  { width:75%; opacity: 0.9; }
	to   { width:100%; opacity: 1; }
}

@-moz-keyframes loader2
{
	from { width:5%; opacity: 0.8; }
	25%  { width:20%; opacity: 0.9; }
	50%  { width:50%; opacity: 0.9; }
	75%  { width:75%; opacity: 0.9; }
	to   { width:100%; opacity: 1; }
}

@-ms-keyframes loader2
{
	from { width:5%; opacity: 0.8; }
	25%  { width:20%; opacity: 0.9; }
	50%  { width:50%; opacity: 0.9; }
	75%  { width:75%; opacity: 0.9; }
	to   { width:100%; opacity: 1; }
}

@-o-keyframes loader2
{
	from { width:5%; opacity: 0.8; }
	25%  { width:20%; opacity: 0.9; }
	50%  { width:50%; opacity: 0.9; }
	75%  { width:75%; opacity: 0.9; }
	to   { width:100%; opacity: 1; }
}

@keyframes loader2
{
	from { width:5%; opacity: 0.8; }
	25%  { width:20%; opacity: 0.9; }
	50%  { width:50%; opacity: 0.9; }
	75%  { width:75%; opacity: 0.9; }
	to   { width:100%; opacity: 1; }
}
